:root{
    --cor-primaria: #333;
    --cor-secundaria: #fff;
    --cor-fundo: rgb(58, 187, 210);
}




*{
    margin: 0;
    padding:0%;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 50px 1px;
    background-image: url(/img/banner.jpg); /*propriedades que vao modificar a imagem*/
    background-repeat: no-repeat;/*propriedades que vao modificar a imagem*/
    background-size: cover;/*propriedades que vao modificar a imagem*/
    font-family: normal normal normal 14px/1.4 "Open Sans", sans-serif;
}

body{
    margin: 0;
    font-family: normal;
    background: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0%;
}

.logo{
    font-weight: bold;
    font-size: 30%;
}

h2{
    background-color: rgb(83, 149, 167);
    color: #fff;
}

.card-conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.card{
    background-color: rgb(144, 214, 214);
    border-radius: 68%;
    padding: 10px;
    justify-content: center;
    display: flex;
    box-shadow:  0 5px 8px  rgb(143, 139, 139);
    overflow: hidden;
    width: 10%;
    right: 90%;
    transition: transform 0.4 ease;
    
    
}
.trocas{
    border-radius: 4%;
    padding: 10%;
    display:12% ;
    background-color: rgb(61, 113, 113);
    border-top: 18%;
    justify-content: center;
    width: 23% ;
    right: 11%;
    color: #fbfbfb;

}

.h2{
    font-size:14px;
    font-weight:100;
    line-height: 20px;
    letter-spacing: 3px;
    margin: 10%;
}

.p{
    font-size: 14px;
    font-weight: 10px
}
